<section class="content-header">
    <section class="content">
      <br/><br/>
      <div class="jumbotron">
        <div class="jumbotron d-flex justify-content-center">
          <div class="col-md-12">
            <img style="max-height: 300px;max-width: 315px;" />
            <h2>Página Não Encontrada - Página de <a [routerLink]="['/home']">Home</a></h2>
            <i>Redirecionando automático em 5 segundos</i>
            <meta http-equiv="refresh" content="5;url=/home" />
          </div>
        </div>
      </div>
    </section>
  </section>
  